main {
  background-color: #5e8df4;
}

#taskSubmitBtn {
  background-color: seagreen;
  border: 1px solid black;
}

.album {
  margin-top: 15px;
}

.card-body {
  margin-top: 15px;
}

.taskOut {
  display: inline-block;
  border: 2px solid black;
}

/* hat tip to this site for how to access .data() in css
https://css-tricks.com/a-complete-guide-to-data-attributes/#styling
*/
[data-status='complete'] {
  background-color: rgb(119, 216, 122);
}

[data-status='incomplete'] {
  background-color: rgb(193, 130, 130);
}

.updateBtn {
  background-color: rgb(119, 216, 122);
  color: black;
}

.deleteBtn {
  background-color: rgb(193, 130, 130);
  color: black;
}
