main {
  background-color: #5e8df4;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}

.taskDisplay {
  display: inline-block;
}

.taskOut {
  display: inline-block;
  border: 2px solid black;
}

/* hat tip to this site for how to access .data() in css
https://css-tricks.com/a-complete-guide-to-data-attributes/#styling
*/
[data-status='complete'] {
  background-color: rgb(119, 216, 122);
}

[data-status='incomplete'] {
  background-color: rgb(193, 130, 130);
}
